$grid-row-cell-background-color: #f6f6f6;
$grid-row-cell-alt-background-color: #f6f6f6;
$grid-cell-inner-padding: 10;
$row-expander-collapse-glyph: dynamic($fa-var-caret-down $row-expander-glyph-font-size $font-icon-font-family);
$row-expander-expand-glyph: dynamic($fa-var-caret-right $row-expander-glyph-font-size $font-icon-font-family);
$grid-body-border-width: 0;

.tplText {
  position: relative;
  left: 18px;
  margin: 2px;
  font-size: 13px;
  color: dimgray;
  white-space: normal;
}