.sgplogo { top: 0px !important; }

.sgptitle {
  font: 300 20px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  color: $title-color;
  left: 70px !important;
}

.btnUser  { font: 300 16px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif; border: none; background-color: white; }
.btnUser img { width: 36px; height: 36px; border-radius: 50%; }

.titleSection {
  font: 300 18px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  color: $title-section-color;
}

.circular { border-radius: 50%; }
.button-header { 
	background: $button-header-color;
	border: none;
}
.button-toolbar { 
	background: $button-circular-color;
	border-color: $second-color3;
}
.x-btn-icon-el-default-toolbar-small { color: $button-font-color; }
.screenBackground { background: $second-color; }

@include treelist-ui(
	$ui: 'navigator',
	$padding: 0 15px,
    $background-color: $base-color,
    $toolstrip-background-color: $second-color2,
	
	// Darker background for expanded subtrees
    $item-expanded-background-color: gray,
 
    $tool-selected-color: #f6f6f6,
    $tool-selected-background-color: mix(white, gray, 10%),
 
    $tool-float-indicator-width: 4px,
    $tool-float-indicator-color: #5fa2dd,
 
    // Taller line height
    $item-line-height : 50px,
 
    // Off-white text
    $item-icon-color: #f6f6f6,
    $item-expander-color: #ADB3B8,
    $item-text-color: #f6f6f6,
	$item-text-font-size: 16px,
 
    // Brighter when hovered
    $row-over-background-color: mix(white, gray, 20%),
    $item-icon-over-color: #fff,
    $item-expander-over-color: #fff,
    $item-text-over-color: #f6f6f6,
 
    $row-indicator-width: 6px,
    $row-indicator-selected-color: #5fa2dd,
    $row-indicator-selected-over-color: lighten(#5fa2dd, 10%),
    $row-indicator-over-color: lighten(#5fa2dd, 10%),
 
    // Various sizes for the pieces:
    $item-icon-font-size: 20px,
    $item-icon-width: 30px,
    $item-expander-font-size: 16px,
    $item-expander-width: 24px,
 
    $row-selected-background-color: $base-color2
)

.treelist-with-nav .#{$prefix}panel-body { background-color: $base-color; }

.x-treelist-item-tool {
    height: 50px; padding: 5px;
	background-color: $base-color;
}
.x-treelist-item-tool:before { line-height: 40px !important; }
.x-treelist-floater { width: 260px !important; }

body.x-border-layout-ct, div.x-border-layout-ct { background-color: white; }
.x-column-header-text { font-size: 14px !important; }

@include extjs-button-small-ui(
    $ui: 'header',
    $color: $button-circular-color,
	$font-size: 20px    
);




