$enable-font-awesome: dynamic(true);
$base-color: dynamic(#1E90FF);
$base-color2: dynamic(#3F505F);

$second-color: #F6F6F6;
$second-color2: dimgray;
$second-color3: #E4E4E4;
$second-color4: #919191;

$login-background-color: $second-color2;
$login-image-subpanel: url(../resources/images/wallpaper.jpg);
$login-textfield-color: $base-color;

$title-color: $second-color2;
$title-section-color: $second-color2;

$button-circular-color: $second-color;
$button-font-color: $second-color4;
$button-header-color: white;
