.section-icon { background-image: url(../resources/images/icons/sectionIcon.png) !important; }
.textfield-icon { background-image: url(../resources/images/icons/textfieldIcon.png) !important; }
.textarea-icon { background-image: url(../resources/images/icons/textareaIcon.png) !important; }
.combobox-icon { background-image: url(../resources/images/icons/comboboxIcon.png) !important; }
.datefield-icon { background-image: url(../resources/images/icons/datefieldIcon.png) !important; }
.numberfield-icon { background-image: url(../resources/images/icons/numberfieldIcon.png) !important; }
.checkbox-icon { background-image: url(../resources/images/icons/checkboxIcon.png) !important; }
.radiobutton-icon { background-image: url(../resources/images/icons/radioButtonIcon.png) !important; }
.htmleditor-icon { background-image: url(../resources/images/icons/htmlEditorIcon.png) !important; }
.form-icon { background-image: url(../resources/images/icons/formIcon.png) !important; }
.list-icon { background-image: url(../resources/images/icons/listIcon.png) !important; }